* {
    margin: 0px;
    padding: 0px;
}

body {
    /* background-color: #f8f9fb; */
    background: white;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: grid;
    grid-template-areas: 'navlogo navcontent navcontent';
    grid-template-columns: 1fr 2fr;
    padding: 1% 0%;
    /* border: 1px solid black; */
}

.navlogo {
    grid-area: navlogo;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    padding-left: 16%;
}

.navcontent {
    grid-area: navcontent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8%;
}

.navcontent a {
    text-decoration: none;
    font-family: "poppins";
    font-size: 1em;
    font-weight: 500;
    margin: 0px 20px;
    color: grey;
}

.navlogo h1 {
    font-size: 2.5em;
    font-weight: 900;
    color: rgb(43, 43, 43);
}

.navlogo h2 {
    font-size: 2.5em;
    font-weight: 900;
    color: rgb(13, 30, 104);
}


/* content 1*/

.content {
    display: grid;
    grid-template-areas: "part1 part2";
    grid-template-columns: 1fr 1fr;
    background: url('images/hero_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.sec1 {
    grid-area: part1;
    padding: 15% 0% 0% 30%;
}

.sec1 h1 {
    font-size: 3rem;
    font-family: playfair display;
    color: #2a3748;
    margin: 0%;
}

.sec1 h2 {
    font-size: 4rem;
    font-family: playfair display;
    -webkit-text-stroke: 0.01px #ffffff;
    color: #ffffff;
    margin-top: -8%;
}

.sec1 h2::before {
    content: attr(data-text);
    color: #2a3748;
    -webkit-text-stroke: 0px #ffffff;
    position: absolute;
    /* border-right: 2px solid #2a3748; */
    overflow: hidden;
    width: 10%;
    height: 14%;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%,
    10%,
    100% {
        width: 0;
    }
    70%,
    90% {
        width: 34%;
    }
}

.sec1 p {
    font-size: 1vw;
    font-family: poppins;
    font-weight: 400;
    color: #747575;
    width: 30em;
    padding-top: 4%;
}

.btn {
    border: none;
    border-radius: 7px;
    background: #2a3748;
    padding: 1% 4%;
    margin-top: 3%;
    color: white;
    font-family: poppins;
}

.sec2 {
    grid-area: part2;
}

.sec2 img {
    height: 300px;
    width: 530px;
    margin-right: 6%;
    margin-top: 8%;
    border-radius: 50px;
}


/* content 1 ends */


/* Content 2 */

.content2 {
    display: grid;
    grid-template-areas: "part3 part4";
    grid-template-columns: 1fr 1fr;
    background: url(Section2-Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 5%;
    grid-gap: 50px;
}

.sec3 {
    grid-area: part3;
}

.sec3 img {
    height: 380px;
    width: 550px;
    padding-left: 15%;
}

.sec4 {
    grid-area: part4;
    padding-right: 20%;
}

.sec4 h1 {
    font-family: playfair display;
    font-size: 3em;
    color: #2a3748;
    padding-bottom: 5%;
}

.sec4 h2 {
    height: 3px;
    width: 40px;
    background-color: #747575;
}

.sec4 h3 {
    color: #747575;
    margin-top: -1.45%;
    margin-left: 9%;
    font-size: 0.5em;
}

.sec4 p {
    padding-top: 5%;
}


/* Content 2 ends */


/* About Us */

.about {
    display: grid;
    grid-template-areas: "seg1 seg2 seg3";
    grid-template-columns: 1fr 1fr 1fr;
    background: #2a3748;
    padding: 5%;
}

.seg1 {
    grid-area: seg1;
}

.seg1 h1 {
    font-size: 1.5em;
    font-weight: 300;
    color: #f8f9fb;
    padding-bottom: 10%;
}

.seg1 h2 {
    font-size: 1.5em;
    color: #f8f9fb;
    padding-bottom: 10%;
}

.seg1 img {
    padding-right: 6%;
    height: 40px;
    width: 40px;
}

.seg2 {
    grid-area: seg2;
}

.seg2 h1 {
    font-size: 1.5em;
    color: #f8f9fb;
    font-weight: 500;
}

.seg2 h1 a {
    text-decoration: none;
    font-weight: 300;
    color: #f8f9fb;
    padding-bottom: 2%;
}

.seg3 {
    grid-area: seg3;
}

.seg3 h1 {
    font-weight: 500;
    font-size: 1.5em;
    color: #f8f9fb;
    margin-bottom: 33px;
}

.seg3 p {
    font-weight: 300;
    font-size: 1.5em;
    color: #f8f9fb;
}


/* About Us Ends */


/* Responsive layout */

@media only screen and (max-width: 500px) {
    body {
        height: 274vh;
    }
    .navbar {
        grid-template-areas: "navlogo" "navcontent";
        grid-template-columns: 1fr;
        margin-top: 2%;
        border: none;
    }
    .navlogo {
        padding-left: 40%;
        text-align: center;
    }
    .navcontent {
        visibility: hidden;
    }
    .content {
        background-size: 1000px 1000px;
        grid-template-areas: "part1" "part2";
        grid-template-columns: 1fr;
        border: none;
    }
    .sec1 {
        margin-top: -15%;
        margin-left: -17%;
    }
    .sec1 p {
        font-size: 1em;
    }
    .sec2 img {
        justify-items: center;
        padding-left: 11%;
    }
    @keyframes animate {
        0%,
        10%,
        100% {
            width: 0;
        }
        70%,
        90% {
            width: 110%;
        }
    }
    .content2 {
        grid-template-areas: "part4" "part3";
        grid-template-columns: 1fr;
        height: auto;
    }
    .sec4 {
        padding-left: 13%;
    }
    .sec4 h3 {
        padding-left: 4%;
    }
    .sec4 p {
        padding-right: 0;
    }
    .sec3 img {
        margin-left: 7%;
        margin-bottom: 7%;
        padding: 0%;
    }
    .about {
        grid-template-columns: 1fr;
        width: 147.7%;
    }
    .seg2 {
        padding-left: 17%;
    }
}